html, body{
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #faf5e7;
  color: #FFFFFF;
}

.titulos1 , .titulos10 , .parrafos1 , .parrafos10 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.titulos1 { 
  font-size: 2vw !important;
  margin: 7% 0 5% 30%;
}

.parrafos1 {
  font-size: 1vw !important;
  padding: 3% 3% 0% 25%;
 }

.paddingY-6 {
  padding-top: 6vw;
}

#biografia {
  background-image: url(fondo-testimonios.png);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

#contenido-biografia {
  padding: 10%;
}

#contenido-biografia .cuadro-ver-biografia {
  display: block;
  background-color: #d85525;
  border-radius: 15px;
  padding: 5%;
  margin: 10%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

#contenido-biografia .cuadro-ver-biografia p {
  font-size: 1.5em;
}

#contenido-biografia .cuadro-ver-biografia button {
  background-color: #6b1716;
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 0.275em;
  border: 0px;
  border-radius: 15px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

#contenido-biografia .cuadro-ver-biografia button:focus {
  outline: none !important;
  background-color: #3f4044;
}

#contenido-biografia .close-biografia {
  display: none;
  position: absolute;
  right: 20%;
  font-size: 2.5em;
  color: black;
  cursor: pointer;
}

#contenido-biografia .close-biografia:hover {
  color: white;
}

#contenido-biografia .fase-opacity-0 {
  opacity: 0;
}

#contenido-biografia .mostrar-biografia {
  display: block;
}

#contenido-biografia .fase-opacity-1 {
  opacity: 1;
}

#contenido-biografia .ocultar-biografia {
  display: none;
}

#contenido-biografia .microscopio-biografia {
  width: 100%;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

#contenido-biografia #lente-microscopio {
  width: 150%;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

#box-blanco-espacio{
  width: 100%;
  height: 5px;
}

#presentacion-biografia{
display: flex;
justify-content: center;
width: 100%;
height: 400px;
}

#box-bio-present{ 
margin-top: 5%;
padding: 20px;  
width: 80%;
height: 300px;
color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: space-between;
background: url(present-bio.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;  
}

.underlay {
  margin: 0 1.2%;
  padding: 0;
  max-height: 300px;
  width: 15%;
}

.card{
    margin: 0;
    width:177px;
    max-height: 300px;
    border: solid transparent;
    background: none;
    cursor: pointer;
}

.card-img-top{

    height: 300px;
}

#atras{
  z-index: 11;
  cursor: pointer;
  visibility: hidden;
  width: 10%;
  height: 10%;
  margin-bottom: 55%;
  margin-left: 1%;
  border: 4px;
  color: rgb(252, 238, 200);
  background: none;
  outline: none;
  font-size: 2rem;
}

.box-modal {
  position: relative;
  top: 50%;
  width: 58%;
  height: 50%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  border: 10px;
  border-color: white;
  background: #707070;
  z-index:3 ;
}

.parrafo, .parrafo-2, .parrafo-3{
    position: absolute;
    bottom: 22%;
    left: 15%;
    width: 45%;
    height: 50%;
    margin-left: 2%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px;
    border-color: white;
    z-index: 10;
    font-size: 0.9rem;
}

#btn-atras, #btn-sig {
  display: none;
  width: 15%;
/*  height: 50%;*/
  margin-left: 2.5%;
  border: 4px;
  color: white;
  outline: none;
  background-color: #991f0a;
  border-color: #991f0a;
}